.pricing {
    padding-bottom: 200px;
}

.cards-pricing {
    display: flex;
    justify-content: space-between;
}
.card-pricing {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.pricing-img {
  display: flex;
  text-align: center;
  padding-top: 25px;
}

.pricing-img-second  {
    padding-top: 50px;
}

 .pricing-img-third {
  display: flex;
  text-align: center;
 }
.card-pricing h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  padding-bottom: 19px;
}

.card-pricing p {
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    color: #8F95A5;
    flex-grow: 1;
}

.btn-pricing {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #EEEEEE;
    width: 240px;
    height: 45px;
    border-radius: 5px;
    margin-top: 29px;
}

.price {
 font-size: 30px;
 line-height: 100%;
}

.period {
    color: #546269;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
}