.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-bottom: 147px;
}


.wrapper-for-title {
    display: flex;
    align-items: center;
    padding-bottom: 40px;

}

.intro-title {
    font-size: 64px;
    font-weight: 600;
    width: 386px;
    height: 240px;
    line-height: 80px;
}

.intro-right-side {
    padding-right: 143px;
}

.intro-about {
    width: 550px;
    color: #8F95A5; 
    font-size: 24px; 
    line-height: 1.6; 
    padding-bottom: 50px;


}

.btn-intro {
    padding: 32px 117px 32px 118px;
    background-color: black;
    border-radius: 15px;
    font-size: 36px;
    color: white;
    transition: all 0.3s ease-in-out;
}

.btn-intro:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}

/* skills */
.skills-content {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    padding-bottom: 282px;
}



.skills-content-right-side {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}
.card-speaking {
    width: 435px;
    height: 894px;
}
.card-writing {
    width: 434px;
    height: 531px;
}
.card-reading {
    width: 435px;
    height: 532px;
}
.card-listening {
    display: flex;
    width: 885px;
}

.card-reading,
.card-listening,
.card-speaking,
.card-writing {
  background-color: #F5F5F5;
  align-items: center;
  justify-content: space-around;
  padding: 42px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.card-reading:hover,
.card-listening:hover,
.card-speaking:hover,
.card-writing:hover {
  background-color: #e0e4ec;
}

.card-wrapper-for-title-and-image {
    display: flex;
}

.title-card-skills {
    font-size: 30px;
    font-weight: 600;
    line-height: 80px;
}

.card-description {
    font-size: 16px;
    font-weight: 400;
    color: #8F95A5;
    padding-bottom: 20px;

}
.btn-card-left-side {
  padding: 17px 63px 17px 64px;
}

.btn-card-right-side {
  padding: 15px 51px 15px 52px;
}

.btn-card-left-side,
.btn-card-right-side {
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: black;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.btn-card-left-side:hover,
.btn-card-right-side:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}
